html {
	box-sizing: border-box;
}
.grid-container {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr;
	grid-template-rows: 1fr 2fr 1fr 2fr 1fr;
	height: 600px;
	margin: 0;
}

.box-1 {
	grid-area: 1 / 1 / 1 / 3;
	background: #FACB03; /* Yellow */
	border: 4px solid black;
}

.box-2 {
	grid-area: 1 / 3 / 1 / 6;
	background: white; /* White */
	border-right: 4px solid black;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}

.box-3 {
	background: #BD0119; /* Red */
	border-right: 4px solid black;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}

.box-4 {
	grid-area: 2 / 1 / 2 / 1;
	background: #1A509A; /* Blue */
	border-left: 4px solid black;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.box-5 {
	grid-area: 2 / 2 / 2 / 4;
	background: #BD0119; /* Red */
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.box-6 {
	background: white; /* White */
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.box-7 {
	grid-area: 2 / 5 / 2 / 6;
	background: #1A509A; /* Blue */
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.box-8 {
	grid-area: 5 / 2 / 5 / 4;
	background: #FACB03; /* Yellow */
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.box-9 {
	background: white; /* White */
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.box-10 {
	background: #FACB03; /* Yellow */
	border-left: 4px solid black;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.box-11 {
	background: white; /* White */
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.box-12 {
	background: #BD0119; /* Red */
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.box-13 {
	background: #1A509A; /* Blue */
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.box-14 {
	background: white; /* White */
	border-left: 4px solid black;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.box-15 {
	background: #1A509A; /* Blue */
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.box-16 {
	grid-area: 3 / 4 / 5 / 6;
	background: #FACB03; /* Yellow */
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.box-17 {
	background: white; /* White */
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.box-18 {
	background: white; /* White */
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.box-19 {
	background: #1A509A; /* Blue */
	border-left: 4px solid black;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.box-20 {
	grid-area: 5 / 4 / 5 / 7;
	background: #BD0119; /* Red */
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}



/* Style from 960px */

@media only screen and (max-width: 960px) {
  .box-1 {
  	background: #BD0119; /* Red */
  	grid-area: 1 / 1 / 1 / 4;
    z-index: 5;
  }

  .box-3 {
	background: #FACB03; /* Yellow */
  }

  .box-4 {
	background: #FACB03; /* Yellow */
  }

  .box-5 {
  	background: #1A509A; /* Blue */
  }

  .box-9 {
  	background: #BD0119; /* Red */
  }

  .box-10 {
  	background: #BD0119; /* Red */
  }

  .box-12 {
 	background: #FACB03; /* Yellow */
  }

  .box-16 {
  	background: #BD0119; /* Red */
  	grid-area: 3 / 4 / 6 / 6;
    z-index: 4;
  }

  .box-20 {
 	background: #FACB03; /* Yellow */
  	grid-area: 5 / 6 / 7 / 7;
  }

}



/* Style from 560px */

@media only screen and (max-width: 560px) {
  .box-1 {
	background: #1A509A; /* Blue */
  	grid-area: 1 / 1 / 1 / 5;
    z-index: 5;
  }

  .box-2 {
  	grid-area: 1 / 5 / 1 / 6;
  }

  .box-3 {
	background: #FACB03; /* Yellow */
  }

  .box-4 {
	background: white; /* White */
  }

  .box-5 {
 	background: #FACB03; /* Yellow */
 	grid-area: 2 / 2 / 4 / 4;
  }

  .box-9 {
  	background: #BD0119; /* Red */
  }

  .box-10 {
  	background: #BD0119; /* Red */
  }

  .box-12 {
 	background: #FACB03; /* Yellow */
 	border-left: 4px solid black;
  }

  .box-13 {
  	border-right: none;
  }

  .box-16 {
  	background: #BD0119; /* Red */
  	grid-area: 3 / 4 / 6 / 6;
    z-index: 4;
  }

  .box-17 {
  	border-left: 4px solid black;
  }

  .box-18 {
  	display: none;
  }

  .box-19 {
  	display: none;
  }

  .box-20 {
 	background: #FACB03; /* Yellow */
  	grid-area: 5 / 6 / 7 / 7;
  }

}
